body {
  background-color: transparent;
  user-select: none;
  padding: 0;
}

.head-line {
  display: flex;
  align-items: center;
  margin: 0;
}

.project-list {
  list-style: none;
  padding: 0;
}

.preset-list {
  list-style: none;
  padding: 0;
}

/*
.project-entry::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
} */

.project-container {
  /* display: flex; */
}

.project-entry {
  width: 100%;
  display: flex;
  padding-left: 0.4em;
}

.project-entry > span {
  margin-left: 0.4em;
  padding: 0.4em 0;
}

.project-entry:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.project-container:hover .indentation {
  border-right: 1px solid var(--vscode-tree-indentGuidesStroke);
}

.preset-entry {
  width: 100%;
  display: flex;
}

.indentation:empty:before {
  content: '\200b';
  height: 100%;
}

.indentation {
  margin-right: 0.4em;
  margin-left: 1em !important;
}

.preset-entry:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.preset-entry > span {
  margin-left: 0.4em;
  padding: 0.4em 0;
}

.codicon {
  padding: 0.4em 0;
  width: 16px;
  height: 16px;
}

.inline-button {
  margin-left: auto;
  margin-right: 0.4em;
}

.clickable:hover {
  cursor: pointer;
}

.inline-button {
  border-radius: 4px;
  padding: 0 0.2em;
}

.inline-button:hover {
  background-color: var(--vscode-list-hoverBackground);
}
